<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <title>DCMS Econonmic Estimates Tool</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- D3 -->
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>

    <!-- C3 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.css') }}">
    <script src="{{ url_for('static', filename='js/c3.js') }}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script> -->

    <!-- leafletjs -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.css') }}">
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script> -->

    <!-- material UI and google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/material-components-web.min.css') }}" />
    <script src="{{ url_for('static', filename='js/material-components-web.min.js') }}"></script>
    <!-- <link rel="stylesheet" type="text/css" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>
    <div id="wrapper">
        <div id="navbar" class="mdc-elevation--z6">
            <a id="dcms-logo" href="https://www.gov.uk/government/organisations/department-for-digital-culture-media-sport/about/statistics">
                <img src="https://github.com/DCMSstats/images/raw/master/DCMSWHITELOGO-1.png">
            </a>
            <div id="header-text">DCMS Economic Estimates Tool</div>
        </div>

        <div id="main">

            <!-- <div>add demo gif of using tool - click on map, filter down to one time series to better view trend etc</div> -->
            <div class="widget mdc-elevation--z3">
                <h2 id="chart-title">Time Series</h2>
                <div class="widget-graphic">
                    <select id="chart-opts">
                        <option value="GVA">GVA (£billions)</option>
                        <option value="Employment">Employment (thousands)</option>
                        <option value="Exports">Exports (thousands)</option>
                        <option value="Imports">Imports (thousands)</option>
                        <!-- and so on... -->
                    </select>
                    <form name="tsChartMeasureTypes" id="tsChartMeasureTypes">
                        <input type="radio" id="actual-radio" name="tsMeasure" value="actual" checked>
                        <label for="actual">Actual</label>

                        <input type="radio" id="index-radio" name="tsMeasure" value="indexed">
                        <label for="indexed">Indexed</label>

                        <input type="radio" id="perc-radio" name="tsMeasure" value="percuk">
                        <label for="percuk">% of UK</label>
                    </form>


                    <!-- <div id="actual-button" class="toggle-buttons off">Actual</div>
                    <div id="index-button" class="toggle-buttons off">Indexed</div>
                    <div id="perc-uk-button" class="toggle-buttons off">% of UK</div> -->
                    <div id="chart"></div>
                </div>
                <div class="about-data">
                    <div>For more information about the data please see:</div>
                    <div><a href="https://www.gov.uk/government/statistics/dcms-sectors-economic-estimates-2017-gva">GVA</a></div>
                    <div><a href="https://www.gov.uk/government/statistics/dcms-sectors-economic-estimates-2017-employment">Employment</a></div>
                    <div><a href="https://www.gov.uk/government/statistics/dcms-sectors-economic-estimates-2016-trade">Imports
                            and Exports</a></div>
                </div>
            </div>

            <div class="widget mdc-elevation--z3">
                <h2 id="map-title">Regional Estimates for All DCMS Sectors</h2>
                <div class="widget-graphic">
                    <div id="map"></div>
                </div>
                <div class="about-data">
                    <div>For more information about the data please see:</div>
                    <div><a href="https://www.gov.uk/government/statistics/dcms-sectors-economic-estimates-2016-regional-gva">Regional
                            GVA</a></div>
                    <div><a href="https://www.gov.uk/government/statistics/dcms-sectors-economic-estimates-2017-employment">Employment</a></div>
                    <div><a href="https://www.gov.uk/government/statistics/dcms-sectors-economic-estimates-2016-business-demographics">Business
                            sites</a></div>
                </div>

            </div>
        </div>
        <footer>
            <img src="https://raw.githubusercontent.com/DCMSstats/images/master/open-gov-licence.png">
            <div>
                <span>
                    Crown copyright 2018<br>
                    You may re-use this information (not including logos) free of charge in any format or medium, under
                    the
                    terms of the Open Government Licence.<br>
                    To view this licence, visit
                </span>
                <a href="www.nationalarchives.gov.uk/doc/open-government-licence/">www.nationalarchives.gov.uk/doc/open-government-licence/</a>
                <span>
                    or write to the
                    Information Policy Team, The National Archives, Kew, London TW9 4DU, or email:
                </span>
                <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static',filename='js/chart1.js') }}"></script>
    <script src="{{ url_for('static',filename='js/map.js') }}"></script>
</body>

</html>