<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <title>DCMS Econonmic Estimates Tool</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

    <!-- C3 and D3 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/c3.css') }}">
    <script src="static/js/c3.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script> -->

    <!-- leafletjs -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
    <!-- material UI and google fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->

</head>

<body>
    <div>demo gif of using tool - click on map, filter down to one time series to better view trend</div>
    <select id="chart-opts">
        <option value="GVA">GVA</option>
        <option value="Employment">Employment</option>
        <option value="Number of business sites">Number of business sites</option>
        <!-- and so on... -->
    </select>
    <div id="chart"></div>

    <select id="map-opts">
        <option value="GVA">GVA</option>
        <option value="Employment">Employment</option>
        <option value="Number of business sites">Number of business sites</option>
        <!-- and so on... -->
    </select>
    <div id="mapid"></div>
    
    <script src="{{ url_for('static',filename='js/chart1.js') }}"></script>
</body>

</html>